:root {
  /*bg-colors*/
  --brightOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);
  /*text-colors*/
  --paragraphs: hsla(0, 0%, 100%, 0.75);
  --bg_headings_buttons: hsl(0, 0%, 95%);
}

body {
  font-size: 15px;
  background-color: var(--bg_headings_buttons);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-content {
  padding: 5em 0 1em;
}
h1 {
  color: var(--bg_headings_buttons);
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
}
p {
  color: var(--paragraphs);
  font-family: "Lexend Deca", sans-serif;
}
.sedan {
  background-color: var(--brightOrange);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.suv {
  background-color: var(--darkCyan);
}
.luxury {
  background-color: var(--veryDarkCyan);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sedan,
.suv,
.luxury {
  padding: 3rem;
  max-width: 220px;
  margin: auto;
}
button {
  background-color: var(--bg_headings_buttons);
  padding: 1em 2em;
  border-radius: 25px;
  border: none;
}
button:hover {
  cursor: pointer;
}
.sedan button {
  color: var(--brightOrange);
}
.suv button {
  color: var(--darkCyan);
}
.luxury button {
  color: var(--veryDarkCyan);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 975px) {
  main {
    transform: translate(0%, 50%);
  }
  .main-content {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .sedan {
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
  .suv {
    background-color: var(--darkCyan);
  }
  .luxury {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
  }
  .sedan,
  .suv,
  .luxury {
    min-width: 220px;
    margin: 0;
  }
  .sedan button,
  .suv button,
  .luxury button {
    margin-top: 5em;
  }
  .attribution {
    padding: 1em;
  }
}
